M04 - Marques/UF1/A04_01e_NMC/persona3.dtd

<!ELEMENT persones (persona+)>
<!ELEMENT persona (nomcomplet,(telefons*|emails*))>
<!ATTLIST persona
        NIF CDATA #REQUIRED
        sexe CDATA #REQUIRED>
<!ELEMENT nomcomplet (cognom+)>
<!ATTLIST nomcomplet
        nom CDATA #REQUIRED>
<!ELEMENT cognom (#PCDATA)>
<!ELEMENT telefons (number)>
<!ELEMENT number (#PCDATA)>
