M04 - Marques/UF1/Examen/Apartat4/4_1/apartat_4_1_enunciat.dtd

<!ELEMENT socis (soci+)>
<!ELEMENT soci (((num, data) | clau)?, nom, cognom, cognom?, (datanaixement | edat), telefon+)>
<!ELEMENT num (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT clau (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT cognom (#PCDATA)>
<!ELEMENT datanaixement (#PCDATA)>
<!ELEMENT edat (#PCDATA)>
<!ELEMENT telefon (#PCDATA)>
