M04 - Marques/UF1/A04_02e_NMC/treballadors.dtd

<!ELEMENT treballadors (treballador+)>
<!ELEMENT treballador (nom, cognom+, sexe?, any_entrada, salari)>
<!ATTLIST treballador
    tipus (director|enginyer|oficina) #REQUIRED
    departament (administracio|obres|vendes|comercial) #REQUIRED>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT cognom (#PCDATA)>
<!ELEMENT any_entrada (#PCDATA)>
<!ELEMENT salari (#PCDATA)>
<!ELEMENT sexe (#PCDATA)>
